# Project exclude paths
/.gradle/
/Topics/The while and do-while loops/Squares of natural numbers/out/
/Topics/The while and do-while loops/Squares of natural numbers/out/production/classes/
/Zookeeper (Java)/task/build/
/Zookeeper (Java)/task/out/
/Zookeeper (Java)/task/out/production/classes/